<div class="container py-5 ps-5 ms-0">
    <h1 class="text-primary-emphasis fw-bold my-5"> Создание дохода/расхода</h1>
    <div class="w-50 mb-4 d-flex flex-column gap-2">
        <input type="text"
               class="w-75 px-3 py-2 border-1 border-secondary rounded border-opacity-25 fs-6" placeholder="Тип...">
        <input type="text"
               class="w-75 px-3 py-2 border-1 border-secondary rounded border-opacity-25 fs-6"
               placeholder="Категория...">
        <input type="text"
               class="w-75 px-3 py-2 border-1 border-secondary rounded border-opacity-25 fs-6"
               placeholder="Сумма в $...">
        <input type="text"
               class="w-75 px-3 py-2 border-1 border-secondary rounded border-opacity-25 fs-6" placeholder="Дата...">
        <input type="text"
               class="w-75 px-3 py-2 border-1 border-secondary rounded border-opacity-25 fs-6"
               placeholder="Комментарий...">
    </div>
    <div class="row d-flex ms-0 gap-3">
        <button type="button" class="px-3 py-2 btn btn-success w-auto">Создать</button>
        <button type="button" class="px-3 py-2 btn btn-danger w-auto">Отмена</button>
    </div>
</div>