<div class="container py-5">
    <h1 class="text-primary-emphasis fw-bold my-5">Редактирование дохода/расхода</h1>
    <div class="w-50 mb-4 d-flex flex-column gap-2">
        <input type="text"
               class="w-75 px-3 py-2 border-1 border-secondary rounded border-opacity-25 fs-6"
               placeholder="Тип..." value="Доход">
        <input type="text"
               class="w-75 px-3 py-2 border-1 border-secondary rounded border-opacity-25 fs-6"
               placeholder="Категория..." value="Зарплата">
        <input type="text"
               class="w-75 px-3 py-2 border-1 border-secondary rounded border-opacity-25 fs-6"
               placeholder="Сумма в $..." value="500$">
        <input type="text"
               class="w-75 px-3 py-2 border-1 border-secondary rounded border-opacity-25 fs-6"
               placeholder="Дата..." value="11.09.2022">
        <input type="text"
               class="w-75 px-3 py-2 border-1 border-secondary rounded border-opacity-25 fs-6"
               placeholder="Комментарий..." value="">
    </div>
    <div class="row d-flex ms-0 gap-3">
        <button type="button" class="px-3 py-2 btn btn-success w-auto">Сохранить</button>
        <button type="button" class="px-3 py-2 btn btn-danger w-auto">Отмена</button>
    </div>
</div>