<div class="container py-5 ps-5 ms-0">
    <h1 class="text-primary-emphasis fw-bold my-5">Расходы</h1>
    <div class="row-cols-4 d-flex flex-wrap gap-3" id="cards">

    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body d-flex justify-content-center align-items-center text-center fw-bold fs-5 pt-5 px-4 pb-0">
                <div>Вы действительно хотите удалить категорию?</div>
            </div>
            <div class="modal-footer border-0 d-flex justify-content-center align-items-center pb-5">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="success-remove">Да, удалить</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
            </div>
        </div>
    </div>
</div>